@using MudBlazor

<div class="d-flex align-center gap-2">
    <MudText Typo="Typo.caption" Color="Color.Secondary">Optional</MudText>
    <MudIcon Icon="@Icons.Material.Filled.Phone" Size="Size.Small" Color="Color.Secondary" />
</div>