@namespace FormCraft

@if (HasValidationErrors)
{
    <div class="mt-1">
        @foreach (var error in ValidationErrors)
        {
            <MudText Typo="Typo.caption" Color="Color.Error" Class="mt-1">
                @error
            </MudText>
        }
    </div>
}