name: continuous

on:
  push:
    branches:
      - main
      - develop
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
      - develop

permissions:
  contents: write
  packages: write

jobs:
  ubuntu-latest:
    name: ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: 'Setup: .NET SDK'
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: 'Cache: .nuke/temp, ~/.nuget/packages'
        uses: actions/cache@v5
        with:
          path: |
            .nuke/temp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('global.json', '**/*.csproj') }}
      - name: 'Run: Continuous'
        run: ./build.cmd Continuous
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Publish: test-results'
        uses: actions/upload-artifact@v7
        with:
          name: test-results
          path: test-results
      - name: 'Publish: artifacts'
        uses: actions/upload-artifact@v7
        with:
          name: artifacts
          path: artifacts
